h1 {
    color: red;
}

h2 {
    color: blue;
}

h4 {
    color: green;
}

span {
    color: yellow;
    display: flex;
}

.p1 {
    color: blue;
}

.p2 {
    color: cyan;
}

.p3 {
    color: greenyellow;
}

a{
    text-decoration: none;
    color: black;
}

.li1 {
    text-align: start;
}

.li2 {
    text-align: center;
}

.li3 {
    text-align: end;
}

.circle-div{
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: space-around;
}

.div1 {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: blue;
}

.div2 {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: red;
}

.div3 {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: green;
}

.circle-div2{
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.circle-div2 .div1 {
    align-self: start;
}

.circle-div2 .div2 {
    align-self: center;
}

.circle-div2 .div3 {
    align-self: end;
}

.circle-div3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.circle-div4{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.circle-div5{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.circle-div6{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.circle-div3 :first-child{
    color:magenta;
    text-align: center;
    align-content: center;
    font-weight: bold;
}